.wrapper {
    resize: horizontal;
    overflow:auto;
    container-name: card;
    container-type: inline-size;
}

.card {
    border: 2px solid var(--black);
    border-radius: 12px;
    background-color: var(--white);
    padding: 23px;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    justify-content: space-between
}

.card:hover {
    box-shadow: -4px 4px 0px var(--black);
    transition: 0.2s;
    transform: translate(4px);
}

.card__flag {
    width: 70px;
    height: 70px;
    background-color: var(--primary-300);
    border-radius: 50%;
}


.card__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 16px;
    justify-content: space-between;
}

.card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@container card (max-width: 400px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .card__flag {
        margin-bottom:24px;
    }
}